* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 50px;
}