* {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
}

.btn-contact{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background: none;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    margin-left: 30px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* header and navigation style */

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner */

.banner {
    display: flex;
    align-items: center;
    margin: 0 50px 0px 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main content styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 30px;
    background: #FFF8F3;
    text-align: center;
    padding: 30px;
    margin-bottom: 39px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.about .info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do css */
.what-i-do {
    /* margin: 130px; */
    /* text-align: center;
    font-weight: 700;
    font-size: 35px;  */
}

.what-i-do .section-title {
    text-align: center;
}

.what-i-do .section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

/* resume section */

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title{
    margin-top: 83px;
    font-weight: 700;
    font-size: 30px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
    font-size: 16px;
}

.resume-btn{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
}

/* contact css */
.contact .section-title{
    text-align: left;
}

.contact{
    display: flex;
    gap: 117px;
    padding: 130px 200px;
    background: #FFF8F3;
}

.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}

.contact .section-description{
    text-align: left;
}

.contact a{
    text-decoration: none;
    padding: 24px;
}

/* footer css */

/* footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: #FFF8F3;
    color: #FD6E0A;
    text-align: center; 
} */

/* responsive code */
@media screen and (max-width:576px) {
    .banner{
        margin: 10px;
    }
    .banner img{
        width: 100%;
    }
    .banner-title{
        font-size: 50px;
    }
    .header{
        background-image: none;
    }
    li .btn-primary{
        height: 100%;
        padding: 0;
        font-size: 16px;
        width: 20vw;
    }
    .btn-contact{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
    .skill-container,.resume-content,.contact,.banner,nav{
        flex-direction: column;
        padding: 10px 20px;
    }
    nav{
        padding: 10px;
    }
    nav li{
        margin-left: 5px;
    }
    nav ul{
        flex-wrap: wrap;
        padding: 5px;
        gap: 10px;
    }
    .about{
        margin-top: 5px;
    }
    .about-info-container {
        flex-direction: column;
    }

    .section-description{
        text-align: justify;
    }

    .contact input[type="text"], input[type="email"], textarea {
        padding: 10px 5px;
    }
    .contact{
        gap: 10px;
    }
    .message-section{
        border: 3px solid white;
    }
    .resume-title {
        margin-top: 10px;
    }

    .what-i-do .section-description{
        padding: 10px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .skill-container,.resume-content{
        justify-content: space-around;
        padding: 10px 20px;
    }
    .contact{
        flex-direction: column;
        padding: 20px 5px;
    }
    .banner .btn-primary{
        width: 100%;
    }
}

/* display hide */
.hide{
    display: none;
}